$font-content: FreeSerif, serif;
$font-display: Montserrat, sans-serif;
$font-interface: FreeSans, sans-serif;

$size-content: 16px;
$size-interface: 12px;

$line-height: 18px;
$page-width: 960px;

h1, li, p, ul
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body
{
    background-color: #ffffff;
    background-image: linear-gradient(silver 1px, white 1px);
    background-size: 1px 18px;
}

.atelir-header,
.atelir-content,
.atelir-footer
{
    margin: $line-height auto;
    max-width: $page-width;
}

.atelir-header
{
    display: grid;
    grid-template-areas: "logo search log-in" "topics topics topics";

    & > .-logo
    {
        font-family: $font-interface;
        font-size: 2 * $size-interface;
        grid-area: logo;
        line-height: 2 * $line-height;
    }

    & > .-search { grid-area: search; }

    & > .-log-in { grid-area: log-in; }

    & > .-topics
    {
        font-family: $font-interface;
        font-size: $size-interface;
        grid-area: topics;
        line-height: $line-height;

        & > ul > li
        {
            display: inline;
            &:not(:first-child):before { content: " · "; }
        }
    }
}

.atelir-footer
{
    font-family: $font-interface;
    font-size: $size-interface;
    line-height: $line-height;
}

.atelir-post
{
    display: grid;
    gap: $line-height;
    grid-template-areas: "content metadata";
    grid-template-columns: 9fr 3fr;

    .-metadata
    {
        display: grid;
        font-family: $font-interface;
        font-size: $size-interface;
        grid-area: metadata;
        grid-template-areas:
            "padding-top    padding-top"
            "user-avatar    user-name"
            "user-avatar    project-name"
            "padding-middle padding-middle"
            "about-project  about-project";
        grid-template-columns:
            2 * $line-height
            auto;
        grid-template-rows:
            $line-height / 2
            $line-height
            $line-height
            $line-height / 2
            auto;
        line-height: $line-height;

        & > .-user-avatar   { grid-area: user-avatar; }
        & > .-user-name     { grid-area: user-name; }
        & > .-project-name  { grid-area: project-name; }
        & > .-about-project { grid-area: about-project; }

        & > .-user-avatar
        {
            height: 2 * $line-height;
            width: 2 * $line-height;
        }

        & > .-user-name,
        & > .-project-name
        {
            padding-left: $line-height / 2;
        }
    }

    .-content
    {
        grid-area: content;

        & > h1
        {
            font-family: $font-display;
            font-size: 3 * $size-interface;
            line-height: 3 * $line-height;
        }

        & > p
        {
            font-family: $font-content;
            font-size: $size-content;
            line-height: $line-height;
        }
    }
}
